@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto+Mono:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(3, 1, 1);
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
/*header*/
.header
{
    background-color: #020a53;
    display: flex;
    justify-content: space-between; 
    align-items:  center;
    height: 85px;
    padding: 5px 10%;
}
.header .logo
{
    cursor: pointer;
}
.header .logo img
{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover
{
    transform: scale(1.2);
}
.header .nav-links
{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
}
.header .nav-links li:hover
{
    transform: scale(1.3);
}
.header .nav-links a{
    font-size: 700;
    color: #fff;
    text-decoration: none;
}
.header .nav-links li:hover
{
    color: #ffbc0e;
}
.header .btn_contacto button
{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
}
.header .btn_contacto button:hover
{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.3);
}
body
{
    background-color: rgb(3, 1, 1);
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
/*registrar*/
.envoltura-form
{
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -165px;
    margin-right: -210px;
    width: 330px;
}

.contenedor-form
{
    background-color: rgb(62, 130, 166);
    box-shadow: 3px 3px 10px 5px rgba(42, 82, 139, 0.9);
    border-radius: 15px;
}


.cabecera-form
{
    display: flex;
    justify-content: center;
    padding: 7px;
    padding-top: 10px;
    height: 70px;
    line-height:50px;
    text-align:center;
}
h2
{
    text-align: center;
}
.cuerpo
{
    background-color: rgb(34, 124, 152);
    border: solid #050404;
    border-width: 2px 0;
    padding: 15px 35px;
}
label
{
    margin-top: 5px;
    padding: 5px;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

input
{
    border-radius: 20px;
    box-shadow: 2px 2px 3px 1px rgba(9, 27, 43, 0.9);
    font: bold 12px 'Kanit', sans-serif;
    font-size: 15px;
    height: 30px;
    line-height: 20px;
    padding: 0 5px;
    width: 250px;
    transition: 0.3s;
}
input:hover
{
    transform: scale(1.1);
}
p
{
    padding-bottom: 10px;
}
p.bot
{
    padding-top: 20px;
}

.boton
{
    
    background: #ccc;
    background: -webkit-linear-gradient(top,rgb(15, 67, 78),rgb(60, 141, 212));
    background: linear-gradient(top,rgb(15, 67, 78),rgb(60, 141, 212));
    color: #000000;
    width: 120px;
    transition: 0.3s;
}
.boton:hover
{
    transform: scale(1.1);
    color: #fff;
}

.pie-form
{
    color: #fff;
    font-size: 13px;
    height: 25px;
    line-height: 24px;
    text-align: center;
}
